
<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :author %>
    <%= f.input :title %>
    <%= f.input :date %>
    <%= f.input :image %>
    <%= f.input :portions %>
    <%= f.input :preparation_time %>
    <%= f.input :cook_timer %>
    <%= f.input :ingredients %>
    <%= f.input :instruction %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
