
<%= simple_form_for(@recipe) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :author, label: "Auteur" %>
    <%= f.input :title, label: "Titre" %>
    <%= f.input :date, label: "Date" %>
    <%= f.input :image, label: "Image" %>
    <%= f.input :portions, label: "Portions" %>
    <%= f.input :preparation_time, label: "Temps de préparation" %>
    <%= f.input :cook_timer, label: "Temps de cuisson" %>
    <%= f.input :ingredients, label: "Ingrédients" %>
    <%= f.input :instruction, label: "Instructions" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
