<div id="<%= dom_id recipe %>">
  <p>
    <strong>Author:</strong>
    <%= recipe.author_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= recipe.date %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= recipe.image %>
  </p>

  <p>
    <strong>Portions:</strong>
    <%= recipe.portions %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cook timer:</strong>
    <%= recipe.cook_timer %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= recipe.ingredients %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= recipe.instruction %>
  </p>

</div>
