<div id="<%= dom_id recipe %>">

  <h1>
    <%= recipe.title %>
  </h1>


  <p>
    <strong>Author:</strong>
    <%= recipe.author %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= recipe.date %>
  </p>

  <p>
    <strong>Image:</strong> <br>
    <%= image_tag recipe.image, size:"300x370"%>
  </p>

  <p>
    <strong>Portions:</strong>
    <%= recipe.portions %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= recipe.preparation_time %>
  </p>

  <p>
    <strong>Cook timer:</strong>
    <%= recipe.cook_timer %>
  </p>

<h2>Ingredients</h2>
<ul>
  <% @recipe.ingredients.split("\n").each do |ingredient| %>
    <li><%= ingredient.strip %></li>
  <% end %>
</ul>

  <p>
    <strong>Instruction:</strong>
    <%= recipe.instruction %>
  </p>

</div>
