<p style="color: green"><%= notice %></p>

<% content_for :title, "Recipes" %>

<h1 class="titre">Recipes</h1>

<div class="carte" id="recipes">
  <% @recipes.each do |recipe| %>
  <div class="recipe">
    <%= image_tag recipe.image, size:"300x370"  %>
    <br>
    <%= recipe.title %>
    <p>
      <%= link_to "Show this recipe", recipe %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
