<div class="container">
<p style="color: green"><%= notice %></p>

<% content_for :title, "Recettes" %>
<br>
<h2 class="titre">Plongez dans un océan de saveurs !</h2>
<hr>


<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-xl-3 col-lg-4 col-md-6">
    <%= image_tag recipe.image, size:"300x400"  %>
    <br>
    <br>
    <b><%= recipe.title %></b> <br>
    Temps de préparation : <%= recipe.preparation_time %><br> <br>
    <p>
      <%= link_to "Voir cette recette", recipe, class: "btn btn-secondary btn-sm"  %>
    </p>
  </div>
  <% end %>
</div>

<hr>

<%= link_to "Création nouvelle recette", new_recipe_path, class: "btn btn-success" %> <br> <br> <br>
</div>
