<div class="container">
<p style="color: green"><%= notice %></p>

<% content_for :title, "Recettes" %>
<br>
<h1 class="titre" style="font-size: 70px;">Recettes</h1> <br>

<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-lg-3">
    <%= image_tag recipe.image, size:"300x400"  %>
    <br>
    <br>
    <b><%= recipe.title %></b> <br>
    Temps de préparation : <%= recipe.preparation_time %><br> <br>
    <p>
      <%= link_to "Montrer cette recette", recipe, class: "btn btn-secondary btn-sm"  %>
    </p>
  </div>
  <% end %>
</div>

<%= link_to "Création nouvelle recette", new_recipe_path, class: "btn btn-success" %> <br> <br> <br>
</div>
