<p style="color: green"><%= notice %></p>

<%= render @recipe %>

<div>
  <%= link_to "Éditer cette recette", edit_recipe_path(@recipe), class: "btn btn-primary" %>
  <%= link_to "Retour aux recettes", recipes_path, class: "btn btn-secondary" %>

  <%= button_to "Supprimer cette recette", @recipe, method: :delete, class: "btn btn-danger"%>
</div>
