<p style="color: green"><%= notice %></p>

<h1 class="titre" style="font-size: 70px;">Auteurs</h1>


<div class="row">
  <% @authors.each do |author| %>
    <div class="col-xl-4">
    <%= render author %>
    <p>
      <%= link_to "Montrer l'auteur", author, class: "btn btn-primary"  %>
    </p>
  </div>
  <% end %>
</div>

<hr>
<%= link_to "Nouvel auteur", new_author_path, class: "btn btn-info text-white" %>
<%= link_to "Voir les recettes", recipes_path, class: "btn btn-secondary"  %>
