<p style="color: green"><%= notice %></p>

<% content_for :title, "Authors" %>

<h1>Authors</h1>

<div id="authors">
  <% @authors.each do |author| %>
    <%= render author %>
    <p>
      <%= link_to "Montrer l'auteur", author, class: "btn btn-primary"  %>
    </p>
  <% end %>
</div>

<%= link_to "Nouvel auteur", new_author_path, class: "btn btn-info text-white" %>
<hr>
<%= link_to "Voir les recettes", recipes_path, class: "btn btn-secondary"  %>
